<div>
    <h2>End Nodes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="end-node.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new End Node
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="address"><span>Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span>Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="controlSystemId"><span>Control System</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="inLocationId"><span>In Location</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="serialConnectionPort"><span>Serial Connection</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="endNode in vm.endNodes track by endNode.id">
                    <td><a ui-sref="end-node-detail({id:endNode.id})">{{endNode.id}}</a></td>
                    <td>{{endNode.name}}</td>
                    <td>{{endNode.address}}</td>
                    <td>{{endNode.type}}</td>
                    <td>
                        <a ui-sref="control-system-detail({id:endNode.controlSystemId})">{{endNode.controlSystemId}}</a>
                    </td>
                    <td>
                        <a ui-sref="in-location-detail({id:endNode.inLocationId})">{{endNode.inLocationId}}</a>
                    </td>
                    <td>
                        <a ui-sref="serial-connection-detail({id:endNode.serialConnectionId})">{{endNode.serialConnectionPort}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="end-node-detail({id:endNode.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="end-node.edit({id:endNode.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="end-node.delete({id:endNode.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
